#color-picker{
    padding: 16px;
    height: 350px;
    position: relative;
    #color-picker-contianer{
        position: relative;
        border-radius: 4px;
        height: auto;
    }
    .color-picker{
        border-radius: 8px !important;
    }
}